Absence of `@base` defaults to `null` which is not in line with RFC 3986 

This was triggered by an issue in the [pyLD code](https://github.com/digitalbazaar/pyld/issues/187).

[RFC 3986 section 5.1](https://datatracker.ietf.org/doc/html/rfc3986#section-5.1) specifies that relative URIs should be expanded against the document's base URI. In absence of an explicit base, there are prescribed steps to determine the base IRI for a given document, which comes down to assigning a "Default Base" if no base can be found in the document nor can be derived from the document's location.

If a JSON-LD document without a `@base` is provided to the processor without it being loaded from a file location; there is no way to determine a base, and the default base should be used.

Looking at the URI expansion code in this library, suggests that this is not done correctly:

https://github.com/jsonld-java/jsonld-java/blob/4a7305f26af38b47336fe28ba506a5f2ce0aae43/core/src/main/java/com/github/jsonldjava/core/Context.java#L559C53-L559C53

and

https://github.com/jsonld-java/jsonld-java/blob/4a7305f26af38b47336fe28ba506a5f2ce0aae43/core/src/main/java/com/github/jsonldjava/utils/Obj.java#L45-L54

and 

https://github.com/jsonld-java/jsonld-java/blob/4a7305f26af38b47336fe28ba506a5f2ce0aae43/core/src/main/java/com/github/jsonldjava/utils/JsonLdUrl.java#L256-L258

When an IRI is expanded, this is passed the value of the `@base` in the context map. If no such base is specified, the `Object.get` function returns `null`.

According to the JSON-LD specification, an explicit `null` value for the `@base` is an instruction not to expand the values to IRIs, and therefore, these don't result in valid IRIs. The `toRDF` function then won't consider these keys/values in the output, and not all triples will be produced.

This violates test [t0060 in](https://w3c.github.io/json-ld-api/tests/expand/0060-in.jsonld) and [t0060](https://w3c.github.io/json-ld-api/tests/expand/0060-out.jsonld).

The reason that the test suite does not pick this up, is that the manifest instructs the processor with an explicit base.


(Closing this, pending a real output test)